<app-header></app-header>
<div class="sidebar-section-container" clicked>
    <section class="main-container sidebar-section-view">
        <div class="row main-content">
            <div class="col-12 text-center">
                <ul ngbNav [(activeId)]="activeTab" (navChange)="changeBreadcrumb($event.nextId)" #nav="ngbNav" class="nav nav-tabs">
                    <li [ngbNavItem]="'Basic'">
                        <a ngbNavLink>DATA</a>
                        <ng-template ngbNavContent>
                            <app-add-dataset></app-add-dataset>
                        </ng-template>
                    </li>
                    <li [ngbNavItem]="'Finance'">
                        <a ngbNavLink>PREDICTION ENGINE</a>
                        <ng-template ngbNavContent>
                            <app-prediction-engine></app-prediction-engine>
                        </ng-template>
                    </li>
                </ul>
                <div [ngbNavOutlet]="nav" class="mt-2"></div>
            </div>
        </div>
    </section>
</div>



