.label-css{
    display:flex;
    align-items: center;
    justify-content: flex-start;
    margin: 10px 0px 10px 0px;
    font-size: 15px;
    font-weight: bold;
    color: #666;
}

.button-css{
    margin: 15px 0px 15px 0px;
    background-color: #19A75E;
    border: 1px solid #009e4d;
}

.heading-css{
    color:blue;
    display:flex;
    align-items: center;
    justify-content: flex-start;
    margin: 10px 0px 10px 0px;
    font-size: 15px;
    font-weight: bold;
}