<div class="forgot-password-page">
	<div class = "row parent-div">
		<!-- <div class="col-md-6" style="background: linear-gradient( 120deg, rgb(241,91,91, 1.8), rgba(109, 83, 131, 0.2) , rgb(116, 206, 226, 0.2)), url('assets/images/bannerloginpage.png') no-repeat top center; background-size: cover;">	
			
		</div> -->
		<div class="col-md-12" style="background-color: #fff;">
			<img src="assets/images/logo.svg" width="150px" class="user-avatar" />
			<h1 class="acis-text"> SCHNEIDER ELECTRIC </h1>
			<div class="row right-container">
				<div class="forgot-password-container">
		
					<form  role="form">
						<h6> FORGOT YOUR  PASSWORD ? </h6>
						<p>Don't worry. Just tell us your details.</p>
						<div class="form-content">
							<div class="form-group">
								<input type="text" name="username"
								class="form-control input-lg" placeholder="Employee ID"
								required forbiddenName="" pattern="[A-Za-z0-9]+" />
								<!-- <div *ngIf="un.invalid && (un.dirty || un.touched)" class="alert alert-danger">
									<div *ngIf="un.errors.required">
										Employee ID is required.
									</div>
								</div> -->
							</div>
							<div class="form-group">
								<input type="email" name="email"
								class="form-control input-lg" placeholder="Affine email address"
								required forbiddenName="" required/>
								<!-- <div *ngIf="mail.invalid && (mail.dirty || mail.touched)" class="alert alert-danger">
									<div *ngIf="mail.errors.required">
										Email address is required.
									</div>
								</div> -->
							</div>
						</div>
		
						<button type="submit" class="btn  btn-primary  button-color  reset-button" > RESET PASSWORD </button>
						<!-- (click)="f.valid && onPasswordReset(f.value)" -->
		
					</form>
		
					<div class="form-group">
                        <a  [routerLink]="['/login']" [routerLinkActive]="['router-link-active']"
                        class="list-group-item" title="Reports">
                        Back to Login
                        </a>
						<!-- <a href="#/login" class="login-text">Back to Login</a> -->
					</div>
		
				</div>
			</div>
		</div>
	</div>
</div>

