<div class="login-page">
	<div class = "row parent-div">
		<div class="col-md-6 parent-div1" style="background-color: #fff;">
			<!-- <img src="assets/images/logo.svg" width="150px" class="user-avatar" /> -->
			<div class="row right-contsiner-1"><h1 class="acis-text"> SCHNEIDER ELECTRIC </h1></div>
		    <div class="row right-container">
				<div class="login-container">
					<span class="label-css log-in-label">Forgot Your Password ?</span>
					<form novalidate  #f="ngForm" (ngSubmit)="onResetPassword(f.value)">
						<div class="form-group">
							<span class="label-css text-css">Email</span>
							<input type="text" name="username"
								class="form-control input-lg" placeholder="name@domain.com"
								required forbiddenName="" pattern="[A-Za-z0-9]+" autofocus />
						</div>
						<div class="form-group">
							<span class="label-css text-css">New Password</span>
							<input type="text" name="username"
								class="form-control input-lg" placeholder="at least 8 characters"
								required forbiddenName="" pattern="[A-Za-z0-9]+" autofocus />
						</div>
						<button type="submit" class="btn  btn-primary  button-color  login-button" > RESET PASSWORD </button>
					</form>	
					<span><a class="sign-up-label-css" href="javascript:void(0)" (click)="gotoLoginPage()">Back to login page</a></span>
				</div>
		    </div>
		</div>	
		<div class="col-md-6" style="background: linear-gradient( 120deg, rgb(0,158,77,2), rgba(71, 184, 126, 0.7) , rgba(91,192, 140, 0.5)), url('assets/images/bannerloginpage.png') no-repeat top center; background-size: cover;"></div>
	</div>
</div>
